h1{
    text-align: center;
    font-weight: bolder;
}
#comments{
    width:550px;
    height: 150px;
}
h2{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.navbar{
 text-transform: uppercase;
   font-weight: 700;   
   border: none;    
}
 .navbar .navbar-brand {
   color: white;    
 }
 .navbar .navbar-brand:hover{
   color: white;
 }  

 .navbar .navbar-nav li a {
   color: white;
 }
 .navbar .navbar-nav li a:hover {
   color: #15C2D2;
 }