span{
    color:white;
}
h1{
color:white;
font-size: medium;
font-weight: bolder;
}
h2{
    text-align: center;
    font-weight: bolder; 
    font-family: Times; 
    font-size: 35px;
}
 #imgprof{
 
 height: 125px;
 width: 100px;
 background-image: url('images/profile.JPG');
}
.image-rounded{
    width:100px;
    height:100px;
}
h2{
    text-align: center;
}
#hamburger{
    size: 100px;
}
 ul li a :hover{
    background-color: orange;
    
}
ul {
    list-style-type: none;
    background-color: orange;
}

li a {
    list-style: non;
    text-align: center;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
    color: #900C3F;
}


.navbar{
 text-transform: uppercase;
   font-weight: 700;   
   border: none;    
}

 #me{
     width:250px;
     height:300px;
     background-color: orange;
 }
 #thumMe{
 border-color: white;    
 }
 #presentme{
     border:solid;
     border-color: orange;
     
 }
 a{
     color: green;
 }
