span{
    color:white;
}
h1{
color:white;
font-size: medium;
font-weight: bolder;
}
h2{
    text-align: center;
    font-weight: bolder;
   color: turquoise;
    font-style: italic;
    font-family: "Times New Roman";
}
 #imgprof{
 
 height: 125px;
 width: 100px;
 background-image: url('images/profile.JPG');
}
.image-rounded{
    width:100px;
    height:100px;
}
h2{
    text-align: center;
}
#hamburger{
    size: 100px;
}
a:hover{
    background-color: turquoise;
    
}
.navbar{
 text-transform: uppercase;
   font-weight: 700;   
   border: none;    
}
 .navbar .navbar-brand {
   color: white;    
 }
 .navbar .navbar-brand:hover{
   color: white;
 }  

 .navbar .navbar-nav li a {
   color: white;
 }
 .navbar .navbar-nav li a:hover {
   color: #15C2D2;
 }
 #me{
     width:250px;
     height:150px;
 }
 #presenteme{
     border:solid;
     border-color: blue;
     
 }